<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-sms-retriever-api" version="1.0.0">
    <name>CordovaSMSRetrieverPlugin</name>

    <description>An Android Cordova plugin that allows your app to read SMS by using Google's SMS Retriever API.</description>
    <license>MIT</license>

    <keywords>cordova,android,read SMS,Retriever API,Google SMS Retriver</keywords>
    <repo>https://github.com/SenagasettiRamesh/cordova-plugin-sms-retriever-api.git</repo>
    <issue>https://github.com/SenagasettiRamesh/cordova-plugin-sms-retriever-api/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/smsretrieveapi.js" name="SMSRetrieverAPI">        
        <merges target="cordova.plugin.smsretriever" />
    </js-module>
    <platform name="android">
        <preference name="PLAY_SERVICES_VERSION" default="+"/>
        <framework src="com.google.android.gms:play-services-auth-api-phone:$PLAY_SERVICES_VERSION"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SMSRetrieverAPI">
                <param name="android-package" value="com.cordova.plugin.android.smsretriever.smsretrieverapi"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
                <receiver android:name="com.cordova.plugin.android.smsretriever.smsreceiverapi" android:exported="true">
                    <intent-filter>
                        <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
                    </intent-filter>
                </receiver>
        </config-file>
        <source-file src="src/android/smsretrieverapi.java" target-dir="src/com/cordova/plugin/android/smsretriever" />
        <source-file src="src/android/smsreceiverapi.java" target-dir="src/com/cordova/plugin/android/smsretriever" />
    </platform>
</plugin>
